<!-- 사용자 정의 메타데이터를 정의할 수 있는 자리 표시자 -->
<!-- 웹마스터 인증 태그를 추가하기 위한 섹션 -->

  <!-- Microsoft Clarity 스크립트 시작 -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "or8px720gk");
  </script>

  <!-- Google AdSense 계정 ID를 위한 메타 태그 -->
  <meta name="google-adsense-account" content="ca-pub-3197009888055061">
   
  <!-- Google AdSense 광고 스크립트를 비동기적으로 로드하는 스크립트 태그 -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3197009888055061"
     crossorigin="anonymous"></script>

  <!-- Naver 사이트 인증을 위한 메타 태그 -->
  {% if site.webmaster_verifications.naver %}
    <meta name="naver-site-verification" content="{{ site.webmaster_verifications.naver }}">
  {% endif %}
  <!-- Setup Open Graph image -->